<header class="site-header">

    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
            <div class="header-links">
                {% for page in site.pages %}
                    {% if page.title %}
                        <span class="header-link"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></span>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
    </div>

</header>
