/*
*   Index Page Styles
*/
.index-header {
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    padding: 75px 0px;
    margin-bottom: $spacing-unit;
    background: $text-color;

    .logo h1 {
        font-family: $logo-font-family, sans-serif;
        color: $background-color;
        font-size: 64px;
        letter-spacing: 10px;
    }

    .header-links {
        font-family: $logo-font-family, sans-serif;

        a {
            color: #888;

            &:hover {
                color: $background-color;
                text-decoration: none;
            }
        }

        .header-links {
            padding: 0px 7px 0px 3px;
            border-right: 1px solid #CCC;

            &:last-child {
                border: none;
            }
        }
    }

    @include media-query($on-phone) {
        .logo h1 {
            letter-spacing: 3px;
            font-size: 30px;
        }

        .header-links {
            font-size: 14px;
        }

    }
}

.home {
    .post-list {
        li {
            h1 {
                display: none;
            }

            h2 a {
                font-size: $base-font-size + 12;
                font-family: $logo-font-family;
                font-weight: 500;

                @include media-query($on-phone) {
                    font-size: $mobile-font-size + 12;

                }
            }   
        }
    }
}