/*
*   Index Page Styles
*/
.index-header {
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    padding: 125px 0px;
    margin-bottom: $spacing-unit;

    .logo h1 {
        font-family: $logo-font-family, sans-serif;
        font-size: 6vmax;
        letter-spacing: 10px;
        letter-spacing: 1.3vw;
    }

    .header-links {
        font-family: $logo-font-family, sans-serif;

        a {
            color: $text-color;

            &:hover {
                color: #888;
                text-decoration: none;
            }
        }

        .header-links {
            padding: 0px 7px 0px 3px;
            border-right: 1px solid #CCC;

            &:last-child {
                border: none;
            }
        }
    }

    @include media-query($on-phone) {
        padding: 75px 0px;

        .logo h1 {
            letter-spacing: 3px;
            font-size: 9vmin;
        }

        .header-links {
            font-size: 14px;
        }
    }
}

.home {
    .post-list {
        & > li {
            .featured-image {
                margin-bottom: $spacing-unit;

                img {
                    transition: all .25s ease-in-out;
                    -moz-transition: all .25s ease-in-out;
                    -webkit-transition: all .25s ease-in-out;

                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);

                    &:hover {
                        -webkit-filter: none;
                        filter: none;
                    }
                }

                @include media-query($on-phone) {
                    img {
                        -webkit-filter: none;
                        filter: none;
                    }
                }
            }

            h2 a.post-link {
                &:hover {
                    text-transform: none;
                }
            }

            margin-bottom: $spacing-unit * 1.5;

            @include media-query($on-phone) {
                margin-bottom: $spacing-unit * 1.25;
            }

            &:not(:first-child) {
                padding-top: $spacing-unit * 1.5;
                // border-top: 1px solid $grey-color-light;

                @include media-query($on-phone) {
                    padding-top: $spacing-unit * 1.25;
                }
            }

            h1 {
                display: none;
            }

            h2 a {
                font-size: $base-font-size + 14;
                font-family: $logo-font-family;
                font-weight: 500;

                @include media-query($on-phone) {
                    font-size: $mobile-font-size + 8;
                }
            .continue-reading {
                padding-top: $spacing-unit / 2;
                font-family: $logo-font-family;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
                a {
                    border: none;
                }
            }

            ol, ul {
                margin-bottom: $spacing-unit / 2;
            }   
        }
    }

    .pagination {
        padding-top: $spacing-unit * 1.5;
        font-family: $logo-font-family;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;

        a, span {
            padding: 0px 5px;

            i.left {
                padding-right: 5px;   
            }

            i.right {
                padding-left: 5px;   
            }
        }
    }
}