<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div class="index-header">
            <div class="row logo"><img src="assets/logo.gif" alt="Dan Visintainer"></div>
            <div class="row header-links">
                {% for page in site.pages %}
                    {% if page.title %}
                        <span class="header-links"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></span>
                    {% endif %}
                {% endfor %}
                <span class="header-links"><a class="page-link" href="http://www.instagram.com/danvisintainer">VSCO</a></span>
                <span class="header-links"><a class="page-link" href="http://www.instagram.com/danvisintainer">Instagram</a></span>
            </div>
        </div>

        {{ content }}

    {% include footer.html %}
    </body>
</html>