<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div class="index-header">
            <div class="row logo"><h1>Dan Visintainer</h1></div>
            <div class="row header-links">
                {% for page in site.pages %}
                    {% if page.title %}
                        <span class="header-links"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {{ content }}

    {% include footer.html %}
    </body>
</html>